footer {
  background-color: $backcolor;
  padding-top: 60px;
  padding-bottom: 60px;
}

.as {
  @media screen and (min-width:320px) and (max-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    align-items: baseline;
    display: flex;
  }
}

.table-container__footer {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    align-items: baseline;
    margin-left: 61px;
    text-align: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-conteiner {
  width: 231px;

  @media screen and (min-width:320px) and (max-width:768px) {
    text-align: center;
  }
}

.subscribe-link {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin: 0 auto;
    margin-top: 60px;
  }
}

.logo__web-footer {
  color: $webcolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo__studiow-footer {
  color: $studiocolor2;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.post-address {
  color: $studiocolor2;
  @extend %contacts-set;
  margin-top: 20px;
}

.contact-link__footer {
  color: $mainfoot-color;
  @extend %contacts-set;
}

.join-social {
  @media screen and (min-width:320px) and (max-width:768px) {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.join {
  margin-bottom: 20px;
  color: $studiocolor2;
  text-transform: uppercase;
}

.icon-list__footer {
  display: flex;

  @media screen and (min-width:320px) and (max-width:768px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    justify-content: center;
  }
}

.link-icon__list:nth-child(n + 2) {
  padding-left: 10px;
}

.link-social__footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %flex-center;
  background-color: $footericoncolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social__footer {
  fill: $studiocolor2;
}

.link-social__footer:hover {
  background-color: $webcolor;
}

.link-social__footer:hover .icon-social {
  fill: $studiocolor2;
}

.email-input {
  width: 450px;
  color: $mainfoot-color;
  background-color: $backcolor;
  height: 50px;
  border: none;
  outline: 1px solid $mainfoot-color;
  padding: 15px 205px 15px 15px;
  border-radius: 4px;

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 358px;
  }
}

.ul-input {
  display: flex;

  @media screen and (min-width:320px) and (max-width:768px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.icon-tg {
  margin-left: 10px;
}

.icon-footer {
  fill: $studiocolor2;
}
