.logo-web {
  color: var(--webcolor);
  font-size: var(--websize);
  line-height: 1.38;
  font-family: "Raleway";
}

.logo-studio {
  color: var(--studiocolor);
  font-size: var(--websize);
  line-height: 1.38;
  font-family: "Raleway";
}