.burger {
  display: none;

  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  @media screen and (min-width: 480px) and (max-width: 480px) {
    display: flex;
  }
}

.burger .mob-menu {
  width: 24px;
  height: 3px;
  background-color: #000;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #000;
}

.burger::before {
  top: 10.2px;
}
.burger::after {
  bottom: 10px;
}

// .burger.active span{
//     transform: scale(0);
// }
// .burger.active::before{
//     top: 50%;
//     transform: rotate(60deg);
// }
// .burger.active::after{
//     bottom: 50%;
//     transform: rotate(-60deg);
// }
