.logo-header {
  padding-bottom: 25px;
  padding-top: 24px;
}

.menu {
  margin-left: 93px;
  column-gap: 50px;
}

.menu__link {
  color: $studiocolor;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width:320px) and (max-width:768px) {
    display: none;
  }
}

.menu__link:hover,
.menu__link:focus {
  color: $webcolor;
  background-image: url(../images/hover.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 34px;
}

.contacts-list {
  margin-left: auto;

  .contacts-list__link {
  @extend %flex-center;
  font-weight: 500;
  color: $mainfoot-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) and (max-width:1200px) {
  display: flex;
  flex-direction: column;
}
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: $webcolor;
}

.contacts-list__link:hover .icon__contact {
  fill: $webcolor;
}

.icon__contact {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__contact:hover,
.icon__contact:focus {
  fill: $webcolor;
}

.contacts-list__item + .contacts-list__item {
  @media screen and (min-width:1200px) {
    margin-left: 50px;
  }
}

.contacts-list__item {
  @media screen and (min-width:320px) and (max-width:768px) {
    display: none;
  }

  @media screen and (min-width:768px) and (max-width:1200px) {
    display: flex;
  }
}

.navigation,
.menu,
.con-header {
  display: flex;
  align-items: center;
}

.contacts-list {
  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
  }
}