.hero__section {
  max-width: 1600px;
  height: 600px;
  @extend %flex-center;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/project-company.jpg");
  margin: 0 auto;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),url(../../images/fon-mobile.png);
    height: 400px;
  }
}

.title {
  color: $studiocolor2;
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }
}

.hero__title {
  width: 696px;

  @media screen and (min-width:480px) {
    width: 360px;
  }
}