.logo__web {
  color: $webcolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo__studio {
  color: $studiocolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo__web-footer {
  color: $webcolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo__studiow-footer {
  color: $studiocolor2;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}