.logo__web {
  color: $webcolor;
  @extend %logo-set;
}

.logo__studio {
  color: $studiocolor;
  @extend %logo-set;
}

.logo__web-footer {
  color: $webcolor;
  @extend %logo-set;
}

.logo__studiow-footer {
  color: $studiocolor2;
  @extend %logo-set;
}