.team-section {
  background-color: $imgcolor;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  margin-right: auto;
  margin-left: auto;
  background-color: $studiocolor2;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 34px;
}

.item-img {
  width: 270px;
  height: 260px;
}

.team-list__item-name {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
}

.team-item-list__position {
  color: $mainfoot-color;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 21px;
}

.icon-list {
  display: flex;
  justify-content: center;

  .link-icon__list {
  display: flex;
}
}

.link-icon__social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @extend %flex-center;
}



.icon-social {
  fill: $iconcolor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon__social:hover {
  background-color: $webcolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon__social:hover .icon-social {
  fill: $studiocolor2;
}