.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    padding-top: 87px;
    padding-bottom: 101px;
  }
}

.clients-zagolovog {
  @extend %flex-center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px 30px;

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    justify-content: center;
    gap: 0px 0px;
  }
}

.item-clients:nth-child(n + 2) {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.item-clients {
  flex-basis: calc((100% - 30px) / 2);
  outline: 1px solid $iconcolor;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:768px) and (max-width:1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client-conteiner{
  display: flex;
  justify-content: center;
}

.link-clients {
  width: 106px;
  height: 60px;
  fill: $iconcolor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 170px;
  }
}

.link-clients:hover {
  fill: $webcolor;
}

.item-clients:hover {
  outline: 1px solid $webcolor;
}
