.agreement {
  display: flex;
  margin-top: 25px;
}

.checkbox {
  margin-left: 13px;
  width: 16px;
  height: 15px;
}

.rights {
  padding-left: 7px;
  color: var(--mainfoot-color);
  font-weight: 400;
  font-size: 14px;
}

.dogovor {
  text-decoration: underline;
  color: var(--webcolor);
}

.send {
  border: none;
  width: 200px;
  height: 50px;
  background-color: var(--webcolor);
  color: var(--studiocolor2);
  font-weight: 700;
  font-size: 16px;
  margin-left: 120px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}