.features {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width:480px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__list {
  column-gap: 30px;
  display: flex;
}
}

.features__list{
  font-size: 14px;

  @media screen and (min-width:480px) and (max-width: 768px) {
    max-width: 768px;
    display: block;
  }
}

.features-list__title{

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.features-list__description {
  color: $mainfoot-color;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 10px;

  @media screen and (max-width: 480px) {
    width: 450px;
}
}

.features-list__description:last-child {
  margin-bottom: 30px;
}


.features-list__icon {
  width: 270px;
  height: 120px;
  @extend %flex-center;
  background-color: $imgcolor;
  padding: 22px 0;
  margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    width: 450px;
  }
}